:root {
--primary-text-color-theme-light: #2E2F42;
/*Overlays Shadows Headings*/
--secondary-text-color-theme-light: #434455;
/*Body text*/
--secondary-color-first: #4D5AE5;
 /*CTAs Focused Active states Links*/
 --secondary-color-second: #31D0AA;
 /*Valid fields Success messages*/
 --secondary-text-color: #8E8F99;
 /*Helper text Deemphasized text*/
 --secondary-color-third: #E7E9FC;
 /*Accent color Hairlines Subtle backgrounds*/
 --secondary-color-fourth: #F4F4FD;
 /*Light mode backgrounds Light mode Dialogs/alerts*/
 --secondary-color-fifth: #ffffff;
 --secondary-color-sixth: #fcfcfc;
 --card-set-gap: 24px;
 --card-set-fotter-gap: 16px;
 /*margin between elements from the side*/
 --transition-duradion-and-funk: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*------------components*/
.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
img {
    display: block;
    width: 100%;
    height: auto;
}
ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
.list{
    list-style: none;
}

h1,h2,h3,h4,h5,h6,p{
    list-style: none;
    margin: 0;
    padding: 0;
}

.link {
    text-decoration: none;
}
button {
    cursor: pointer;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--secondary-color-fourth);
    background-color:var(--secondary-color-fifth);
}
.visually-hidden{
    position: absolute;
    white-space: nowrap;
     width: 1px;
     height: 1px;
     overflow: hidden;
     border: 0;
     padding: 0;
     clip: rect(0 0 0 0);
     clip-path:inset(50%);
    margin: -1px;

}

/*------------components*/

/* -----------header */
.wis-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-conteiner{
    padding-top: 24px;
    padding-bottom: 24px;
    background-color: var(--secondary-color-fifth);
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.logo {
    position: relative;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--secondary-color-first);
}
.logo-dark{
    color: var(--primary-text-color-theme-light);
}
.act::after{
    position: absolute;
    display: block;
    left: 0;
    bottom: -30px;
    content: "";
    height: 4px;
    width: 100%;
    border-radius: 2px;
    background-color: var(--secondary-color-first);
}
.menu-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-text-color-theme-light);
}

.menu-item:not(:last-child) {
    margin-right: 40px;
}
.menu-link {
    position: relative;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color-theme-light);
}

.menu-link:hover,
.menu-link:focus,
.act {
    color: var(--secondary-color-first);
}
.header-list{
    margin-left: auto;
}
.contact-mail{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color-theme-light);
    transition: color var(--transition-duradion-and-funk);
}
.contact-mail:hover,
.contact-mail:focus {
    color: var(--secondary-color-first);
}
.contact-phone{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color-theme-light);
    transition: color var(--transition-duradion-and-funk);
}
.contact-phone:hover,
.contact-phone:focus{
    color: var(--secondary-color-first);
}


 /* ---------header */
 @media screen and (min-width: 768px) {
     .container {
         width: 768px;
     }
    .tablet-conteiner{
            padding-left: 16px;
            padding-right: 16px;
            margin-left: auto;
            margin-right: auto;
    }
    
    .mobile-menu-open {
        display: none;
    }
    .header-list{
        display: flex;
        align-items: center;
    }
    .contact-mail,
    .contact-phone{
        font-size: 12px;
    }
    .logo {
        margin-right: 123px;
    }
    .list-contact{
        display: block;
    }
    .act::after {
        bottom: -36px;
    }
    .list-mail{
        margin-bottom: 4px;
    }
    .header-list-contact{
        flex-direction: column;
    }

}
 @media screen and (min-width:1200px) {
     .container {
         width: 1158px;
     }
    
    .list-mail {
        margin-right: 40px;
    }
    
    .section {
        padding-top: 120px;
        padding-bottom: 120px;
    }
    
    .contact-mail,
    .contact-phone {
        font-size: 16px
    }
    
    .header-list-contact {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: auto;
    }
    .logo {
        margin-right: 77px;
    }
    .act::after {
        bottom: -28px;
    }
    .list-mail{
        margin-bottom: 0px;
    }
}

@media screen and (max-width:767px){
    @media screen and(max-width:427px) {
            .container {
                width: 100vw;
                margin: 0;
                margin-left: auto;
                margin-right: auto;
            }
        }
    
        @media screen and (min-width: 428px) {
            .container {
                width: 428px;
            }
    
            .hero-fon {
                max-width: 767px;
            }
        }
    .header-list{
        display: none;
    }
    .direction-list-link{
        display: none;
    }
    .mobile-conteiner{
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
    }
}
/* ----------mobile-menu */
.phone {
    font-weight: 700;
    font-size: 8vw;
    line-height: 1.11;
    color:var(--secondary-color-first);
}

.social-list-item-mobile:not(:last-child) {
    margin-right: 11.5vw;
}

@media screen and (min-width: 480px){
    .phone {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        color:var(--secondary-color-first);
    }
    .social-list-item-mobile:not(:last-child) {
        margin-right: 56px;
    }
}    

.mobile-header-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 284px;
}
.mobile-menu-open {
    background-color: transparent;
    padding: 0;
    border: none;
    line-height: 0;
    margin-left: auto;
}
.mobile-menu {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    top: 0;
    left: 0;
    background-color: var(--secondary-color-fifth);
    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
}
.mobile-menu.is-open {
    transform: translateX(0);
}
.mobile_menu_item {
    position: relative;
    font-family: "Roboto";
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--primary-text-color-theme-light);
}
.mobile-menu-item:hover,
.mobile-menu-item:focus {
    color: var(--secondary-color-first);
}
.link-mobile {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--primary-text-color-theme-light);
    transition: fill var(--transition-duradion-and-funk);
}
.link-mobile:hover,
.link-mobile:focus {
    fill: var(--secondary-color-first);
}
.mobile-list-header {
    margin-top: auto;
}
.mobile-phone-mail {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 48px;
}
.mail {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: var(--secondary-text-color-theme-light);
}
.mobile-menu-conteiner {
    position: relative;
    padding-top: 80px;
    padding-bottom: 40px;
    padding-left: 40px;
}
.mobile-menu-close-btn {
    position: absolute;
    top: 24px;
    right: 22px;
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: var(--secondary-color-third);
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
}

.mobile-menu-close-btn:active {
    background-color: var(--secondary-color-first);
}
.sociai-list-mobile {
    display: flex;
    align-items: center;
}
.socil-list-link-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-color-first);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    fill:var(--secondary-color-fourth);
    transition: fill var(--transition-duradion-and-funk);
}

.socil-list-link-mobile:hover,
.socil-list-link-mobile:focus {
    fill: var(--secondary-color-first);
}
.sociai-list-mobile {
    display: flex;
    gap: 56px;
}

/* ---------mobile-menu */

/* ---------------hero */

@media screen and (min-width: 320px) {
    @media screen and(max-width:427px) {
            .container {
                width: 100vw;
                margin: 0;
                margin-left: auto;
                margin-right: auto;
            }
        }
     @media screen and (min-width: 428px) {
         .container {
             width: 428px;
         }
     }
    .hero-fon {
        margin: 0 auto;
        max-width: 767px;
        text-align: center;
        padding: 112px 0;
        background-color: var(--secondary-color-first);
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/mobile-people-office.jpg);
        background-size: cover;
    }
 @media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
 screen and (min-resolution: 192dpi) and (max-width: 767px),
 screen and (min-resolution: 2dppx) and (max-width: 767px) {
     .hero-fon {
         background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                 rgba(46, 47, 66, 0.7)),
             url(../images/mobile-people-office@2x.jpg);
     }
    .main-title {
        margin-bottom: 72px;
    }
    }
        .main-title {
            width: 318px;
            font-weight: 700;
            font-size: 36px;
            line-height: 1.11;
            text-align: center;
            color: var(--secondary-color-fifth);
            margin: auto;
        }
   .modal-btn {
       font-family: 'Roboto', sans-serif;
       font-weight: 500;
       font-size: 16px;
       line-height: 1.19;
       text-align: center;
       letter-spacing: 0.04em;
       color: #FFFFFF;
       background-color: var(--secondary-color-first);
       cursor: pointer;
       margin: 0;
       padding: 16px 32px;
       border: none;
       border-radius: 4px;
       box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
       transition: box-shadow var(--transition-duradion-and-funk);
   }

   .modal-btn:hover {
       box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
   }

   .modal-btn:focus {
       background-color: #404BBF;
   }  
}
  @media screen and (min-width: 768px) {
      .container {
          width: 768px;
      }
    .hero-fon {
        padding: 112px 0;
        text-align: center;
        width: 100%;
        height: 435px;
        max-width: 1199px;
        background-color: var(--accent-color);
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/tablet-people-office.jpg);
        background-size: cover;
        margin: 0 auto;
    }

    @media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
    screen and (min-resolution: 192dpi) and (min-width: 768px),
    screen and (min-resolution: 2dppx) and (min-width: 768px) {
        .hero-fon {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)),
                url(../images/tablet-people-office@2x.jpg);
        }

        .main-title {
            margin-bottom: 40px;
        }
    }

        .main-title {
            width: 494px;
        max-width: 496px;
        margin-bottom: 40px;
        margin-left: auto;
        margin-right: auto;
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        text-align: center;
        color: var(--secondary-color-fifth);
    }
        .modal-btn {
            font-family: 'Roboto', sans-serif;
            font-weight: 500;
            font-size: 16px;
            line-height: 1.19;
            text-align: center;
            letter-spacing: 0.04em;
            color: #FFFFFF;
            background-color: var(--secondary-color-first);
            cursor: pointer;
            margin: 0;
            padding: 16px 32px;
            border: none;
            border-radius: 4px;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
            transition: box-shadow var(--transition-duradion-and-funk);
        }
    
        .modal-btn:hover {
            box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
        }
    
        .modal-btn:focus {
            background-color: #404BBF;
        }
}


@media screen and (min-width:1200px) {
    .container {
        width: 1158px;
    }
    .hero-fon {
        max-width: 1440px;
        height: 100%;
        padding-top: 192px;
        padding-bottom: 192px;
        background-color: var(--primary-text-color-theme-light);
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url("../images/mobile-people-office\ \(2\).jpg");
        background-size: cover;
        text-align: center;
        margin: 0 auto;
    }

    @media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
    screen and (min-resolution: 192dpi) and (min-width: 1200px),
    screen and (min-resolution: 2dppx) and (min-width: 1200px) {
        .hero-fon {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)),
                url(../images/mobile-people-office@2x\ \(2\).jpg);
        }

        .main-title {
            margin-bottom: 48px;
        }
    }

    .main-title {
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        color: var(--secondary-color-fifth);
        width: 496px;
        text-align: center;
    }

.modal-btn {
        font-family: 'Roboto',sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.19; 
        text-align: center;
        letter-spacing: 0.04em;
        color: #FFFFFF;
        background-color: var(--secondary-color-first);
        cursor: pointer;
        margin: 0;
        padding: 16px 32px;
        border: none;
        border-radius: 4px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        transition: box-shadow var(--transition-duradion-and-funk);
}   

.modal-btn:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.modal-btn:focus {
    background-color: #404BBF;
}
}
/* ---------------hero */

/* ----------------Direction */

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
@media screen and (max-width: 767px){
    @media screen and(max-width:427px) {
            .container {
                width: 100vw;
                margin: 0;
                margin-left: auto;
                margin-right: auto;
            }
        }
    @media screen and (min-width: 428px) {
        .container {
            width: 428px;
        }
    }
    .section-retreat{
        padding: 96px 0 96px 0;
    }
   .direction{
    display: flex;
    flex-direction: column;
    gap: 72px;
   }
   .direction-list{
    margin-left: 16px;
    margin-right: 16px;
   }
   .secondary-title{
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    margin-bottom: 8px;
    color: var(--primary-text-color-theme-light);   
   }
   .secondary-info{
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    color:var(--secondary-text-color-theme-light);
    padding: 0 auto;
   }
   .direction-list-link {
       display: none;
   }
}

@media screen and (min-width: 768px) and (max-width: 1199px){
    @media screen and (min-width: 768px) {
            .container {
                width: 768px;
            }
        }
    .section-retreat{
        padding: 96px 0 96px 0;
    }
    .direction{
        display: flex;
        flex-wrap: wrap;
        row-gap: 72px;
        column-gap: 24px;
        padding-left: 16px;
    }
    .direction-list {
        flex-basis: calc((100% - 24px) / 2);
        }
    .secondary-title{
        font-family: "Roboto";
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        text-align: left;
        margin-bottom: 8px;
        color:var(--primary-text-color-theme-light);
    }
    .secondary-info{
        font-family: "Roboto";
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        text-align: left;
        color: var(--secondary-text-color-theme-light);
        padding: 0 auto;
    }
    .direction-list-link{
        display: none;
    }
}

@media screen and (min-width:1200px) {
    .container {
        width: 1200px;
    }
    .section-retreat{
        padding-top: 120px;

    }
        .direction-list {
            margin-left: 16px;
            margin-right: 16px;
        }

    .direction{
        display: flex;
        align-items: center;
        gap: 24px;
        justify-content: space-between;
    }
    .direction-list {
        flex-basis: calc(100% / 4 - var(--card-set-gap));
        text-align: left;
    }
    .direction-list-link{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--secondary-color-fourth);
        height: 112px;
        width: 264px;
        border-radius: 4px;
        margin-bottom: 8px;
    }
        .secondary-title {
            font-family: "Roboto";
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 1.2;
            text-align: left;
            margin-bottom: 8px;
            color: var(--primary-text-color-theme-light);
        }
    
        .secondary-info {
            font-family: "Roboto";
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            text-align: left;
            color: var(--secondary-text-color-theme-light);
            padding: 0 auto;
        }
}
/* ----------------Direction */

/* ----------------What Are We Doing */

@media screen and (max-width: 1199px){
    @media screen and (min-width: 768px) {
            .container {
                width: 768px;
            }
        }
    .what-are-we-doing-retreat{
        display: none;
    }
}
.what-are-we-doing{
    display: flex;
        align-items: center;
        gap: 24px;
        justify-content: space-between;
}
.what-are-we-doing-retreat{
    padding-bottom: 120px;
}
.index-header{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--primary-text-color-theme-light);
    text-align: center;
    margin-bottom: 72px;
}
@media screen and (min-width:1200px) {
    .container {
        width: 1200px;
    }
    .what-are-we-doing {
            display: flex;
            padding-left: 24px;
            padding-right: 24px;
            margin: 0;
            list-style: none;
            gap: 24px;
            /* margin-left: calc(-1*var(--card-set-gap)); */
        }
    
.what-are-we-doing-list {
    flex-basis: calc(100% / 3 - var(--card-set-gap));
    }
}

/* ----------------What Are We Doing */


               /* ----Our Teame---- */
@media screen and (max-width: 767px) {
    @media screen and(max-width:427px) {
            .container {
                width: 100vw;
                margin: 0;
                margin-left: auto;
                margin-right: auto;
            }
        }
        .secondary-title{
            font-size: 20px;
        }
    
        @media screen and (min-width: 428px) {
            .container {
                width: 428px;
            }
        }
    .our-teame-mobile {
       padding-right: 82px;
        padding-left: 82px;
        gap: 24px;
    }
    .teame-item {
        margin-bottom: 72px;
    }
        .teame-item:last-child {
            margin-bottom: 0;
        }
}

.team-conteiner {
    padding-top: 96px;
    padding-bottom: 96px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    @media screen and (min-width: 768px) {
            .container {
                width: 768px;
            }
        }
        .secondary-title{
            font-size: 20px;
        }
    .our-teame-tablet {
        display: flex;
        flex-wrap: wrap;
        row-gap: 56px;
        column-gap: 24px;
        justify-content: center;
    }
}

.index-header {
    margin-bottom: 72px;
}

.team-fon {
    background-color: var(--secondary-color-fourth);
}
.teame-item {
    flex-basis: calc(100% / 2 - var(--card-set-gap));
}
.teame-item {
    max-width: 400px ;
    background-color: var(--secondary-color-fifth);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}


.secondary-info {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color-theme-light);
    margin-top: 8px;
}

@media screen and (min-width:1200px) {
    .container {
        width: 1200px;
    }
    .our-teame {
        display: flex;
        justify-content: space-between;
        padding-left: 24px;
        padding-right: 24px;
    }
    .teame-item {
        flex-basis: calc(100% / 4 - var(--card-set-gap));
        margin-left: var(--card-set-gap);
        background-color: #FFFFFF;
        border-radius: 0px 0px 4px 4px;
    }

    .team-conteiner {
        padding: 0;
    }
   
}

.secondary-header {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--primary-text-color-theme-light);
    text-align: center;
}

.information {
    text-align: center;
    padding-top: 32px;
    padding-bottom: 32px;
}

.sociai-list {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 12px;
}

.socil-list-link {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-color-first);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    fill:var(--secondary-color-fourth);
    transition: background-color var(--transition-duradion-and-funk),
        fill var(--transition-duradion-and-funk);
}

.socil-list-link:hover,
.socil-list-link:focus {
    background-color: #404BBF;;
    fill: var(--secondary-color-first);
}

.social-list-item:not(:last-child) {
    margin-right: 24px;
}

                /* ----Our Teame---- */

/* ---------------Customers */
@media screen and (max-width: 1199px) {
    @media screen and (min-width: 768px) {
            .container {
                width: 768px;
            }
        }
    .customer-section {
        padding: 96px 0;
    }
}

@media screen and (max-width: 767px) {
        @media screen and(max-width:427px) {
                .container {
                    width: 100vw;
                    margin: 0;
                    margin-left: auto;
                    margin-right: auto;
                }
        }
        
            @media screen and (min-width: 428px) {
                .container {
                    width: 428px;
                }
            }
    .customers-list-mobile {
        display: flex;
        flex-wrap: wrap;
        row-gap: 72px;
        column-gap: 16px;
        justify-content: center;
    }

        .customers-list-link {
            width: 100%;
            height: 100%;
        flex-basis: calc((100% - 16px) / 2);
    }

        .customer-item {
            max-width: 190px;
            width: 100%;
            height: 88px;
        }

    .index-header {
        margin-bottom: 72px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    @media screen and (min-width: 768px) {
            .container {
                width: 768px;
            }
        }
    .customers-list-tablet {
        display: flex;
        flex-wrap: wrap;
        row-gap: 72px;
        column-gap: 24px;
        justify-content: center;
    }

        .customers-list-link {
            width: 100%;
            height: 100%;
        flex-basis: calc((100% - 32px) / 3);
    }

    .index-header {
        margin-bottom: 72px;
    }

    .customer-item {
       max-width: 190px;
       width: 100%;
       height: 88px;
   }
    
}

 @media screen and (min-width:1200px) {
     .container {
         width: 1158px;
     }
    .customer-section {
            padding: 120px 0;
        }
    .customers-list {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 24px;
        padding-right: 24px;
        fill: currentColor;
    }
}

.customers-list-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 168px;
    height: 88px;
    color:var(--secondary-text-color);
    border: 1px solid var(--secondary-text-color);
    border-radius: 4px;
    transition: color var(--transition-duradion-and-funk);
}

.customers-list-link {
    flex-basis: calc((100% - 120px) / 6);
}

.customers-list-icon {
    fill: currentColor;
}

.cust_logo {
    color: #8e8f99;
    transition: color var(--transition_dur_funk),
        border-color var(--transition_dur_funk);
}

.customers-list-link:hover,
.customers-list-link:focus {
    color: var(--secondary-color-first);
    border: 1px solid var(--secondary-color-first);
    border-radius: 4px;
}
/* ---------------Customers */

/* ---------------Portfolio */

.flex-list {
    column-gap: 24px;
    row-gap: 48px;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

.flex-element {
    flex-basis: calc((100% - 2 * var(--card-set-gap))/3);
    text-decoration: none;
    border: 0.5px solid var(--secondary-color-fourth);
}

.portfolio-link:hover,
.portfolio-link :focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-link {
    display: block;
    text-decoration: none;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
    position: relative;
    transition: box-shadow var(--transition-duradion-and-funk);
}

.portfolio-link:hover .overley,
.portfolio-link:focus .overley {
    transform: translate(0, 0);
}

.portfolio-overley {
    position: relative;
    overflow: hidden;
}
.overley {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: translate(0, 100%);
    transition:transform var(--transition-duradion-and-funk);
    color:var(--secondary-color-fourth);
    background-color: var(--secondary-color-first);
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    padding-top: 40px;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 164px;
}

.portfolio-button-list {
    margin-left: var(--card-set-gap);
}

.list-button {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    justify-content: center;
    margin-bottom: 72px;

}

.portfolio-button {
    padding-top: 12px;
    padding-right: 24px;
    padding-bottom: 12px;
    padding-left: 24px;
    border: 1px solid var(--secondary-color-third);
    transition: color var(--transition-duradion-and-funk),
    box-shadow var(--transition-duradion-and-funk),
    border-color var(--transition-duradion-and-funk),
    background-color var(--transition-duradion-and-funk);
}

.portfolio-button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--secondary-color-first);
    background-color: var(--secondary-color-third);
    cursor: pointer;
    border: 1px solid var(--secondary-color-third);
    border-radius: 4px;
}

.portfolio-card {
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 16px;
    padding-right: 16px;
    border: 0.5px solid;
    border-color: var(--secondary-color-fourth);
    border-top: none;
}

.portfolio-button:hover,
.portfolio-button:focus {
    color: var(--secondary-color-fourth);
    background-color: var(--secondary-color-first);
    border-color: transparent;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/*------------footer*/ 
.modal-form-subscribe {
    color: var(--secondary-color-fifth);
}

.btn-subscr {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.06em;
    color:var(--secondary-color-fifth);
    background-color: var(--secondary-color-first);
    border-radius: 4px;
    border-color: transparent;
    padding: 8px 24px;
    width: 168px;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 16px;
    transition: background-color var(--transition-duradion-and-funk),
        box-shadow var(--transition-duradion-and-funk);
}

.btn-subscr:hover,
.btn-subscr:focus {
    background-color: var(--secondary-color-first);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.modal-form-subscribe::placeholder {
    color: rgba(255, 255, 255, 0.6);
}

.modal-form-subscribe:focus {
    outline: none;
    border-color: var(--secondary-color-fifth);
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--secondary-color-first);
}
.logo-light {
    color: var(--secondary-color-fourth);
}

.footer-fon {
    background-color: var(--primary-text-color-theme-light);
}

@media screen and (max-width: 767px) {
    @media screen and(max-width:427px) {
            .container {
                width: 100vw;
                margin: 0;
                margin-left: auto;
                margin-right: auto;
            }
        }
    
        @media screen and (min-width: 428px) {
            .container {
                width: 428px;
            }
        }
    .footer-fon {
        padding: 96px 0;
    }

    .mobile-footer-logo {
        display: block;
        text-align: center;
        margin-bottom: 72px;
    }

    .footer-conteiner{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .mobile-footer-info {
        text-align: justify;
    }

    .footer-subscribe {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 72px;
    }

    .footer-info,
    .footer-media {
        margin-left: auto;
        margin-right: auto;
    }

    .logo{
        /* margin-left: auto; */
        margin-right: auto;
    }

    .modal-form-subscribe {
        width: 100%;
        max-width: 396px;
        height: 40px;
        border: 1px solid rgba(255, 255, 255, 0.3);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        border-radius: 4px;
        background-color: transparent;
        padding: 8px 16px;
        margin-bottom: 16px;
    }

    .subscribe-text {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.02em;
        color:var(--secondary-color-fifth);
        margin-bottom: 24px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    @media screen and (min-width: 768px) {
            .container {
                width: 768px;
            }
        }
    .footer-fon {
        padding-top: 96px;
        padding-bottom: 96px;
        margin-left: auto;
        margin-right: auto;
    }

    .footer-conteiner {
        display: flex;
        flex-wrap: wrap;
        padding-left: 108px;
        padding-right: 164px;
    }

    .mobile-footer-logo {
        display: block;
        margin-right: 24px;
        margin-bottom: 72px;
    }

    .modal-form-subscribe {
        width: 264px;
        height: 40px;
        border: 1px solid rgba(255, 255, 255, 0.3);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        border-radius: 4px;
        background-color: transparent;
        padding: 8px 16px;
        margin-right: 24px;
    }

    .subscribe-text {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.02em;
        color:var(--secondary-color-fifth);
        margin-bottom: 0;
    }

    .subscribe-form {
        display: flex;
        align-items: center;
        margin-top: 16px;
    }
}

@media screen and (min-width:1200px) {
    .container {
        width: 1158px;
    }
    .footer-fon {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .footer-conteiner {
        display: flex;
            align-items: center;
            justify-content: space-between;
            padding-left: 16px;
            padding-right: 16px;
    }

    .footer-subscribe {
        margin-left: 80px;
    }

    .modal-form-subscribe {
        margin-right: 24px;
    }

    .footer-media {
        margin-left: 120px;
    }

    .modal-form-subscribe{
        width: 264px;
        height: 40px;
        border: 1px solid rgba(255, 255, 255, 0.3);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        border-radius: 4px;
        color: var(--secondary-color-fifth);
        background-color: transparent;
        padding: 8px 16px;
    }
}
.footer-title,
.footer-subscribe {
    text-align: left;
}

.footer-info {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--secondary-color-third);
    width: 264px;
    margin-top: 16px;
}

.footer-title {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--secondary-color-fifth);
}
.footer-social-list {
    display: flex;
    gap: var(--card-set-fotter-gap);
}

.footer-social-list-link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    fill:var(--secondary-color-fourth);
    transition: background-color var(--transition-duradion-and-funk);
}

.footer-social-list-item:not(:last-child) {
    margin-right: 16px;
}

.footer-social-list-link:hover,
.footer-social-list-link:focus {
    background-color: #31d0aa;
}

/* -----------Form Footer------------ */
@media screen and (min-width: 1200px) {
    .container {
            width: 1158px;
        }
    .subscribe-text {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.02em;
        color: var(--secondary-color-fifth);
        margin-bottom: 24px;
    }

    .subscribe-form {
        display: flex;
        align-items: center;
        height: 40px;
        margin-top: 16px;
    }
}
/* -----------footer */

/*modal windiw*/

.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity var(--transition-duradion-and-funk),
    visbility var(--transition-duradion-and-funk);
}

.backdrop.is-hidden{
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

}
.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 408px;
    height: 576px;
    background: #FCFCFC;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    cursor: pointer;
    padding-top: 72px;
    padding-bottom: 24px;
    padding-left: 24px;
    padding-right: 24px;
}
@media screen and (max-width: 480px) {
    .modal {
        width: 90vw;
        height: auto;
    }
}

.modal-close-button{
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: var(--secondary-color-third);
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    transition: box-shadow var(--transition-duradion-and-funk),
    background-color var(--transition-duradion-and-funk);
    }
.modal-close-button:hover,
.modal-close-button:focus{
    background: #404BBF;
}

.modal-close-button-icon{
    transition: var(--transition-duradion-and-funk);
}

.modal-close-button:hover .modal-close-button-icon,
.modal-close-button:focus .modal-close-button-icon{
    background: var(--secondary-color-third);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 4px;
}


/*modal windiw*/

/*modal form*/

.modal-form{
    display: flex;
    flex-direction: column;
}

.modal-form-text{
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--primary-text-color-theme-light);
    margin-bottom: 16px;
}

.modal-form-field{
    margin-bottom: 8px;
}

.modal-form-input-desc{
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: var(--secondary-text-color);
    margin-bottom: 4px;
}

.modal-form-input-wrapper{
    position: relative;
    display: block;
}

.modal-form-input{
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 35px;
    color: #000000;
    transition: border-color var(--transition-duradion-and-funk);
}

.modal-form-input:focus{
    outline: none;
    border-color:var(--secondary-color-first) ;
}

.modal-form-input:focus + .modal-form-input-icon{
    fill: var(--secondary-color-first);
}

.modal-form-input-icon{
    position: absolute;
    fill: var(--primary-text-color-theme-light);
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    display: block;
    transition: fill var(--transition-duradion-and-funk);
}

.modal-form-massage{
    width: 100%;
    height: 120px;
    resize: none;
    padding-top: 8px;
    padding-left: 16px;
    padding-bottom: 8px;
    padding-right: 8px;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    transition: border-color var(--transition-duradion-and-funk);
}

.modal-form-massage:placeholder{
    text-transform: uppercase;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}


.modal-form-massage:focus{
    outline: none;
    border-color: var(--secondary-color-first);
}

.modal-form-check-desc{
    position: relative;
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.04em;
    color: #757575;
    margin-bottom: 24px;
}

.modal-form-check-desc::before{
    background-position: center;
    display: block;
    width: 16px;
    height: 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 2px;
    content: "";
    cursor: pointer;
}

.modal-form-check:checked + .modal-form-check-desc::before{ 
    background-image: url(../images/confirmation.svg.svg);
    background-color: var(--secondary-color-first);
    border: 1.25px solid var(--secondary-color-fourth);
    border-radius: 2px;
}

.modal-form-check:focus+.modal-form-check-desc::before{
    outline: var(--secondary-color-first);
}


.user-police{
    margin-left: 8px;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.04em;
    color: #757575;
    }

.privacy-policy{
    color:var(--secondary-color-first)
}

.modal-for-submit{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.04em;
    width: 50%;
    margin: 0 auto;
    background-color: var(--secondary-color-first);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    color: var(--hero__button_color);
    border-radius: 4px;
    border-color: transparent;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 32px;
    padding-right: 32px;
    transition: background-color var(--transition-duradion-and-funk),
    box-shadow var(--transition-duradion-and-funk);
}

.modal-for-submit:hover, 
.modal-for-submit:focus{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    background-color: #404BBF;
}