:root {
--primary-text-color-theme-light: #2E2F42;
/*Overlays Shadows Headings*/
--secondary-text-color-theme-light: #434455;
/*Body text*/
--secondary-color-first: #4D5AE5;
 /*CTAs Focused Active states Links*/
 --secondary-color-second: #31D0AA;
 /*Valid fields Success messages*/
 --secondary-text-color: #8E8F99;
 /*Helper text Deemphasized text*/
 --secondary-color-third: #E7E9FC;
 /*Accent color Hairlines Subtle backgrounds*/
 --secondary-color-fourth: #F4F4FD;
 /*Light mode backgrounds Light mode Dialogs/alerts*/
 --secondary-color-fifth: #ffffff;
 --secondary-color-sixth: #fcfcfc;
 --card-set-gap: 24px;
 --card-set-fotter-gap: 16px;
 /*margin between elements from the side*/
 --transition-duradion-and-funk: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*------------components*/
.conteiner {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
img {
    display: block;
    width: 100%;
    height: auto;
}
ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
.list{
    list-style: none;
}

h1,h2,h3,h4,h5,h6,p{
    list-style: none;
    margin: 0;
    padding: 0;
}

.link {
    text-decoration: none;
}
button {
    cursor: pointer;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--secondary-color-fourth);
    background-color:var(--secondary-color-fifth);
}
.visually-hidden{
    position: absolute;
    white-space: nowrap;
     width: 1px;
     height: 1px;
     overflow: hidden;
     border: 0;
     padding: 0;
     clip: rect(0 0 0 0);
     clip-path:inset(50%);
    margin: -1px;

}

/*------------components*/

/* -----------header */
.header-conteiner {
    padding-top: 24px;
    padding-bottom: 24px;
    background-color: var(--secondary-color-fifth);
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.logo {
    position: relative;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--secondary-color-first);
}
.logo-dark {
    color: var(--primary-text-color-theme-light);
}
.header-list {
    margin-left: auto;
    display: flex;
    align-items: center;
    }
.menu-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-text-color-theme-light);
}

.menu-item:not(:last-child) {
    margin-right: 40px;
}
.act::after {
    position: absolute;
    display: block;
    left: 0;
    bottom: -30px;
    content: "";
    height: 4px;
    width: 100%;
    border-radius: 2px;
    background-color: var(--secondary-color-first);
}
.menu-link {
    position: relative;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color-theme-light);
}
.menu-link:hover,
.menu-link:focus,
.act {
    color: var(--secondary-color-first);
}
.header-list {
    margin-left: auto;
    display: flex;
    align-items: center;
}
 .contact-mail,
 .contact-phone {
     font-size: 12px;
 }
 /* ---------------header */
 /* --------------hero */
 .hero-fon {
    display: flex;
     margin: 0 auto;
     text-align: center;
     padding: 112px 0;
     background-color: var(--secondary-color-first);
     background-image: linear-gradient(rgba(46, 47, 66, 0.7),
             rgba(46, 47, 66, 0.7)),
         url(../images/mobile-people-office.jpg);
     background-size: cover;
 }
 .main-title {
     width: 318px;
     font-weight: 700;
     font-size: 36px;
     line-height: 1.11;
     text-align: center;
     color: var(--secondary-color-fifth);
     margin: 0 auto;
 }
 .modal-btn {
     font-family: 'Roboto', sans-serif;
     font-weight: 500;
     font-size: 16px;
     line-height: 1.19;
     text-align: center;
     letter-spacing: 0.04em;
     color: #FFFFFF;
     background-color: var(--secondary-color-first);
     cursor: pointer;
     margin: 0;
     padding: 16px 32px;
     border: none;
     border-radius: 4px;
     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
     transition: box-shadow var(--transition-duradion-and-funk);
 }

 .modal-btn:hover {
     box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
 }

 .modal-btn:focus {
     background-color: #404BBF;
 }
 /* --------------hero */
 /* -------------Direction */
.section-retreat {
    padding: 96px 0 96px 0;
}
.secondary-title {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    margin-bottom: 8px;
    color: var(--primary-text-color-theme-light);
}

.secondary-info {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: left;
    color: var(--secondary-text-color-theme-light);
    padding: 0 auto;
}

 /* -------------Direction */

 /* ----------------components */

 /* -----------------mobile */
@media screen and (max-width:767px) {
    @media screen and(max-width:427px) {
        .container {
            width: 100vw;
            margin: 0;
            margin-left: auto;
            margin-right: auto;
        }
    }

    @media screen and (min-width: 428px) {
        .container {
            width: 428px;
        }

        .hero-fon {
            max-width: 767px;
        }
    }

    .header-list {
        display: none;
    }

    .direction-list-link {
        display: none;
    }

    .mobile-conteiner {
        display: flex;
        align-items: center;
        width: 100%;
        padding-left: 16px;
        padding-right: 16px;
        margin-left: auto;
        margin-right: auto;
    }
        
.phone {
    font-weight: 700;
    font-size: 8vw;
    line-height: 1.11;
    color: var(--secondary-color-first);
}

.social-list-item-mobile:not(:last-child) {
    margin-right: 11.5vw;
}

@media screen and (min-width: 480px) {

    .phone {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        color: var(--secondary-color-first);
    }

    .social-list-item-mobile:not(:last-child) {
        margin-right: 56px;
    }
}

.mobile-header-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 284px;
}

.mobile-menu-open {
    background-color: transparent;
    padding: 0;
    border: none;
    line-height: 0;
    margin-left: auto;
}

.mobile-menu {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    top: 0;
    left: 0;
    background-color: var(--secondary-color-fifth);
    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
}

.mobile-menu.is-open {
    transform: translateX(0);
}

.mobile_menu_item {
    position: relative;
    font-family: "Roboto";
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--primary-text-color-theme-light);
}

.mobile-menu-item:hover,
.mobile-menu-item:focus {
    color: var(--secondary-color-first);
}

.link-mobile {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--primary-text-color-theme-light);
    transition: fill var(--transition-duradion-and-funk);
}

.link-mobile:hover,
.link-mobile:focus {
    fill: var(--secondary-color-first);
}

.mobile-list-header {
    margin-top: auto;
}

.mobile-phone-mail {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 48px;
}

.mail {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: var(--secondary-text-color-theme-light);
}

.mobile-menu-conteiner {
    position: relative;
    padding-top: 80px;
    padding-bottom: 40px;
    padding-left: 40px;
}

.mobile-menu-close-btn {
    position: absolute;
    top: 24px;
    right: 22px;
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: var(--secondary-color-third);
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
}

.mobile-menu-close-btn:active {
    background-color: var(--secondary-color-first);
}

.sociai-list-mobile {
    display: flex;
    align-items: center;
}

.socil-list-link-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-color-first);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    fill: var(--secondary-color-fourth);
    transition: fill var(--transition-duradion-and-funk);
}

.socil-list-link-mobile:hover,
.socil-list-link-mobile:focus {
    fill: var(--secondary-color-first);
}

.sociai-list-mobile {
    display: flex;
}

.studio-link-mobile {
    color: var(--secondary-color-first);
}
/* -----hero */
@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
screen and (min-resolution: 192dpi) and (max-width: 767px),
screen and (min-resolution: 2dppx) and (max-width: 767px) {
    .hero-fon {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/mobile-people-office@2x.jpg);
    }

    .main-title {
        margin-bottom: 72px;
    }
}
/* -----hero */
/* -------------Direction */
.direction {
    display: flex;
    flex-direction: column;
    gap: 72px;
}

.secondary-title {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    margin-bottom: 8px;
    color: var(--primary-text-color-theme-light);
}

.secondary-info {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: left;
    color: var(--secondary-text-color-theme-light);
    padding: 0 auto;
}

.direction-list-link {
    display: none;
}
/* -------------Direction */

}
  /* -----------------mobile */

  /*modal windiw*/

  .backdrop {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 100;
      width: 100%;
      height: 100%;
      background-color: rgba(46, 47, 66, 0.4);
      transition: opacity var(--transition-duradion-and-funk),
          visbility var(--transition-duradion-and-funk);
  }

  .backdrop.is-hidden {
      opacity: 0;
      visibility: hidden;
      pointer-events: none;

  }

  .modal {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 408px;
      height: 576px;
      background: #FCFCFC;
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
      border-radius: 4px;
      cursor: pointer;
      padding-top: 72px;
      padding-bottom: 24px;
      padding-left: 24px;
      padding-right: 24px;
  }

  @media screen and (max-width: 480px) {
      .modal {
          width: 90vw;
          height: auto;
      }
  }

  .modal-close-button {
      position: absolute;
      top: 24px;
      right: 24px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 24px;
      height: 24px;
      border-radius: 50%;
      background: var(--secondary-color-third);
      border: 1px solid rgba(0, 0, 0, 0.1);
      padding: 0;
      transition: box-shadow var(--transition-duradion-and-funk),
          background-color var(--transition-duradion-and-funk);
  }

  .modal-close-button:hover,
  .modal-close-button:focus {
      background: #404BBF;
  }

  .modal-close-button-icon {
      transition: var(--transition-duradion-and-funk);
  }

  .modal-close-button:hover .modal-close-button-icon,
  .modal-close-button:focus .modal-close-button-icon {
      background: var(--secondary-color-third);
      box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
      border-radius: 4px;
  }


  /*modal windiw*/

  /*modal form*/

  .modal-form {
      display: flex;
      flex-direction: column;
  }

  .modal-form-text {
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      text-align: center;
      letter-spacing: 0.02em;
      color: var(--primary-text-color-theme-light);
      margin-bottom: 16px;
  }

  .modal-form-field {
      margin-bottom: 8px;
  }

  .modal-form-input-desc {
      display: block;
      font-weight: 400;
      font-size: 12px;
      line-height: 14px;
      letter-spacing: 0.01em;
      color: var(--secondary-text-color);
      margin-bottom: 4px;
  }

  .modal-form-input-wrapper {
      position: relative;
      display: block;
  }

  .modal-form-input {
      width: 100%;
      height: 40px;
      border: 1px solid rgba(33, 33, 33, 0.2);
      border-radius: 4px;
      padding-left: 35px;
      color: #000000;
      transition: border-color var(--transition-duradion-and-funk);
  }

  .modal-form-input:focus {
      outline: none;
      border-color: var(--secondary-color-first);
  }

  .modal-form-input:focus+.modal-form-input-icon {
      fill: var(--secondary-color-first);
  }

  .modal-form-input-icon {
      position: absolute;
      fill: var(--primary-text-color-theme-light);
      top: 50%;
      left: 16px;
      transform: translateY(-50%);
      display: block;
      transition: fill var(--transition-duradion-and-funk);
  }

  .modal-form-massage {
      width: 100%;
      height: 120px;
      resize: none;
      padding-top: 8px;
      padding-left: 16px;
      padding-bottom: 8px;
      padding-right: 8px;
      border-radius: 4px;
      border: 1px solid rgba(33, 33, 33, 0.2);
      transition: border-color var(--transition-duradion-and-funk);
  }

  .modal-form-massage:placeholder {
      text-transform: uppercase;
      font-weight: 400;
      font-size: 12px;
      line-height: 14px;
      letter-spacing: 0.01em;
      color: rgba(117, 117, 117, 0.5);
  }


  .modal-form-massage:focus {
      outline: none;
      border-color: var(--secondary-color-first);
  }

  .modal-form-check-desc {
      position: relative;
      display: flex;
      align-items: center;
      font-weight: 400;
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 0.04em;
      color: #757575;
      margin-bottom: 24px;
  }

  .modal-form-check-desc::before {
      background-position: center;
      display: block;
      width: 16px;
      height: 16px;
      border: 1px solid rgba(33, 33, 33, 0.2);
      border-radius: 2px;
      content: "";
      cursor: pointer;
  }

  .modal-form-check:checked+.modal-form-check-desc::before {
      background-image: url(../images/confirmation.svg.svg);
      background-color: var(--secondary-color-first);
      border: 1.25px solid var(--secondary-color-fourth);
      border-radius: 2px;
  }

  .modal-form-check:focus+.modal-form-check-desc::before {
      outline: var(--secondary-color-first);
  }


  .user-police {
      margin-left: 8px;
      font-weight: 400;
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 0.04em;
      color: #757575;
  }

  .privacy-policy {
      color: var(--secondary-color-first)
  }

  .modal-for-submit {
      font-weight: 500;
      font-size: 16px;
      line-height: 1.19;
      letter-spacing: 0.04em;
      width: 50%;
      margin: 0 auto;
      background-color: var(--secondary-color-first);
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
      color: var(--hero__button_color);
      border-radius: 4px;
      border-color: transparent;
      padding-top: 16px;
      padding-bottom: 16px;
      padding-left: 32px;
      padding-right: 32px;
      transition: background-color var(--transition-duradion-and-funk),
          box-shadow var(--transition-duradion-and-funk);
  }

  .modal-for-submit:hover,
  .modal-for-submit:focus {
      box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
      background-color: #404BBF;
  }